

$gray-light: #f3f3f3 !default;
$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #3a3b45 !default;

$color-black: #000;
// $color-white: #fff;
$color-gray-light: #272727;
$color-gray-dark: #42464a;
$color-lightblue:#e4edf8 !default;
$color-link:#2857c5 !default;
$link-color-dark:#3098ff !default;
$color-dark: #1c1c1c !default;
$border-dark:#303030 !default;
$light-gray :#f8f9f8 !default;

$blue: #0070c0 !default;
$blue-light: #1680d1 !default;
$blue-dark: #005596 !default;
$red: #dd1e47 !default;
$yellow: #ffc40c !default;
$green: #0b744d !default;
$green-dark: #076342 !default;
$green-light: #118140 !default;
$color-lightgreen:#f0f0ea !default;

$opacity25:.25;
$opacity50:.5;
$opacity100:1;
$showelement:block;
$hideelement:none;