



$dark: #2b2b40;
$border-color-input: #bec6e1;

// common
$black: #000;
$white: #fff;
$grey: #616161;
$grey-light:#ececec;

// brand
$brand-primary:  #0d0e42;
$body-bg: #f0f0f0;
// $dark: #191919;

// bg color
$custom-bg: #eff3fb;

// text color
$body-text-color: #4f4f5d;
$text-color: #a3b0be;

// border color
$border-color:  #454796;

// logout color
$logout-color:#ff5151;

$arrow-bg: #414279;

// view port
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1367px;

